@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Noto Serif", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
    background: url('images/background-image1.jpg') no-repeat center center fixed;
    background-size: cover;
}

p {
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    color: rgb(218, 218, 210);
}

section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

header {
    background: #333;
    color: #ccbebe;
    padding: 1rem 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

#menu-toggle.active {
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }

    nav ul.show {
        display: flex;
    }

    #menu-toggle {
        display: block;
    }
}

section#about {
    padding: 4rem 0;
}

.about-content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #2c3e50;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-content:hover {
    transform: translateY(-20px);
}

.about-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.about-overlay h2 {
    margin-bottom: 20px;
}

.about-text {
    width: 100%;
    height: auto;
    overflow-y: auto;
    text-align: left;
    line-height: 1.8;
}

.about-text p {
    margin: 0;
    padding: 10px;
    line-height: 1.8;
}

.about-text ul {
    list-style-type: none;
    padding: 0;
}

.about-text ul li {
    margin: 10px 0;
    padding-left: 1.2rem;
    position: relative;
}

.about-text ul li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: #e74c3c;
    font-size: 1.2rem;
}

#skills {
    text-align: center;
    padding: 2rem;
}

#skills-container {
    position: relative;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-card {
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.5s;
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: absolute;
    transform-style: preserve-3d;
}

.skill-card img {
    width: 50px;
    height: 50px;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skill-card.clicked {
    height: auto;
}

.skill-info {
    margin-top: 1rem;
    display: none;
    text-align: center;
}

.skill-card.clicked .skill-info {
    display: block;
}

@media (max-width: 768px) {
    #skills-container {
        height: 50vh;
    }

    .skill-card {
        width: 100px;
        height: 100px;
    }
}

section {
    padding: 2rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.project {
    width: 22%;
    margin: 1rem;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.project h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.project p {
    padding: 0 1rem 1rem;
    font-size: 0.9rem;
}

.project a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .project {
        width: 100%;
        margin: 0.5rem 0;
    }

    .project img {
        height: 100px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

#contact {
    text-align: center;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #f4f4f4;
}

form label {
    margin-top: 1rem;
    font-weight: bold;
}

form input,
form textarea,
form button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
}

form button {
    margin-top: 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    form {
        max-width: 500px;
    }
}